.cross-button {
	@include reset-button;
	@include square(48px);

	position: relative;
	border-radius: var(--border-radius-small);
	cursor: pointer;

	@include hover {
		background-color: var(--color-main);
	}

	&::before,
	&::after {
		content: '';

		position: absolute;
		top: 23px;
		left: 7px;
		width: 70%;
		height: 2px;
		background-color: var(--color-dark);
		background-repeat: 5px;
	}

	&::before {
		rotate: 45deg;
	}

	&::after {
		rotate: -45deg;
	}
}
